@import "../utilidades/mixin";
@import "../utilidades/extend";
@import "../utilidades/extend"

// bloque main
main{
    .titulo-integrantes{
        h1{
            color: $color-white;
            @extend %titulo-principal;
            text-shadow: 2px 2px 2px rgb(146, 146, 146);
            margin: 1rem 15%;
            padding: 5px 0;
        }
    }
}
