// paleta de colores

//color tipografia
$color-yellow: #cdc22ce6;
$color-white: #fff;

//color relleno
$color-principal: #1f1f1f;
$color-gray: rgba(110, 108, 108, 0.7);
$color-transparencia: rgba(0, 0, 0, 0.7);

